# Entorno virtual
venv/
.env

# Carpeta de imágenes
data/images/

# Archivos pesados de embeddings y resultados
Embeddings/
Embeddings_test/
results/

# Caché de Python y Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc